.main-app {
  display: flex;
  justify-content: space-evenly;
}

.app {
  background: #162d2f;
  width: 100%;
  padding: 20px;
  color: white;
}

.tweet {
  height: 200px;
  width: 200px;
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.colorWhite {
  color: white;
}

.colorYellow {
  color: yellow;
}

.main-change-color {
  padding:20;
  text-align: center;
  margin-top: 20;
  line-height: 40px;
}